.main__menu{
    margin-top: 40px;
}

.add__menuItemBtn{
    position: fixed;
    right: 20px;
    top: 70px;
}

.menu__info{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}